* {
    box-sizing: border-box;
    font-size: 25px;
    font-family: serif;
}

body {
   display: flex;
   flex-flow: wrap;
   justify-content: center;
   align-content: center;
   height: 100vh;
   background-color: sienna;
}

button {
    height: 50px;
    width: 50px;
    background-color: chocolate;
    border-radius: 10px;
}

#zero {
    width: 120px;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: solid goldenrod 5px;
    height: 500px;
    width: 500px;
}

.display {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0.25;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    width: 250px;
    margin-top: 10px;
    font-size: 50px;
}

.button-row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0.75;
}

.button-row {
    display: flex;
    width: 280px;
    margin-bottom: 10px;
}

.button-row-left {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}

.button-row-right {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}